@import "../../node_modules/bootstrap/scss/bootstrap";
$bg-color: #fff;

body {
    background-color: $bg-color;
}
.all {
    background: url(/img/bg.jpg) $bg-color no-repeat center top;
    background-size: contain;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 35%;
    @include media-breakpoint-up(sm) { padding-top: 25%; }


    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        background: url(/img/bg@2x.jpg) $bg-color no-repeat center top;
        background-size: contain;
    }

    @include media-breakpoint-up(md) { 
        background: url(/img/bg-l.jpg) $bg-color no-repeat center top;
        background-size: contain;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background: url(/img/bg-l@2x.jpg) $bg-color no-repeat center top;
            background-size: contain;
        }
    }
}
.container {
    background: rgba(255,255,255,0.6);
    width: 80%;
    @include media-breakpoint-up(sm) { width: 80%; }
}
.lg {
    
}
h1 {
    padding: 20px 0;
    margin: 0 auto;
    font-family: $font-family-headline;
    font-size: 3.0rem;
    color: $secondary;
    text-align: center;
    line-height: 0.8em;
    @include media-breakpoint-up(sm) { font-size: 4.4rem; }


    .smaller {
		font-size: 0.8em;
		display: block;
	}
}